beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.11.8
chardet==3.0.4
cycler==0.10.0
idna==2.10
kiwisolver==1.1.0
matplotlib==2.2.4
numpy==1.16.6
opencv-python-headless==4.0.1.24
Pillow==6.2.2
pyparsing==2.4.7
python-dateutil==2.8.1
requests==2.25.0
scipy==1.2.3
six==1.15.0
soupsieve==1.9.6
urllib3==1.26.2
